{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">The Crucible Project</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <!-- <a class="nav-item nav-link" href="/newblog">New Blog</a> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/login">Sign In</a>
                <a class="nav-item nav-link" href="/register">Register</a>
            </div>
        </div>
    </div>
</nav>

<!-- Insert Quote section here -->
<blockquote class="blockquote text-center">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
<!-- End of quote section -->

{% endblock %}